<%# <h3>Login</h3> %>
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
              <%= form_tag :action => 'login' do %>
              <p><label for = "user_email">Email</label>:

              <%= text_field  'users', 'email',:required => true %></p>
              <p><label for = "user_password">Password</label>:

              <%= password_field 'users', 'password',:required => true %></p>

              <%= submit_tag "Log In" %>

              <% end -%>
          </div>
        </div>
      </div>
    </div>
</div>


